In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 64.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=3abf9586ddd7d330a4dc57d7f964cd8b6d23ad6043bf1de0133464c7e650b070
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Pyspark Row Class').getOrCreate()

In [4]:
# creating row object
from pyspark.sql import Row
row = Row('java',100)
print(row[0],row[1])

java 100

In [9]:
# or 
row = Row(lang="java",count=100)
print(row.lang)
print(row.count)

java
<built-in method count of Row object at 0x7f0a5730bb30>

In [11]:
# creaating a custom class from row
Data = Row("lang","count")
d1= Data("Java",100)
d2= Data("C",89)
print(d1["lang"],d2.lang)

Java C

In [12]:
# using row class on rdd
data = [Row(name="Jack,,Sparrow",lang=["Java","C++"]), 
    Row(name="Ema,Rose,",lang=["Spark","Java","C"]),
    Row(name="Bootstrap,,Turner",lang=["C","Python"])]
rdd=spark.sparkContext.parallelize(data)
res= rdd.collect()
for i in res:
  print(i.name,i.lang)

Jack,,Sparrow ['Java', 'C++']
Ema,Rose, ['Spark', 'Java', 'C']
Bootstrap,,Turner ['C', 'Python']

In [13]:
# or
Data= Row("name","lang")
data = [Data("Jack,,Sparrow",["Java","C++"]), 
    Data("Ema,Rose,",["Spark","Java","C"]),
    Data("Bootstrap,,Turner",["C","Python"])]
rdd=spark.sparkContext.parallelize(data)
res= rdd.collect()
for i in res:
  print(i.name,i.lang)

Jack,,Sparrow ['Java', 'C++']
Ema,Rose, ['Spark', 'Java', 'C']
Bootstrap,,Turner ['C', 'Python']

In [14]:
# Using Row class on PySpark DataFrame
df= spark.createDataFrame(data)
df.show(2)

+-------------+----------------+
|         name|            lang|
+-------------+----------------+
|Jack,,Sparrow|     [Java, C++]|
|    Ema,Rose,|[Spark, Java, C]|
+-------------+----------------+
only showing top 2 rows

In [15]:
col = ["Name","languages"]
df=spark.createDataFrame(data).toDF(*col)
df.show()

+-----------------+----------------+
|             Name|       languages|
+-----------------+----------------+
|    Jack,,Sparrow|     [Java, C++]|
|        Ema,Rose,|[Spark, Java, C]|
|Bootstrap,,Turner|     [C, Python]|
+-----------------+----------------+

In [16]:
#Creating dataFrame with nested structure using Row class
data=[Row(name="Jack",character=Row(hair="black",eye="blue")),
      Row(name="Ann",character=Row(hair="grey",eye="black"))]
df=spark.createDataFrame(data)
df.show()

+----+-------------+
|name|    character|
+----+-------------+
|Jack|{black, blue}|
| Ann|{grey, black}|
+----+-------------+